body {
  margin: 0;
  overflow: hidden;
}

.workspace {
  position: relative;
  width: 100vw; 
  height: 100vh; 
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  /* will-change: transform; */
}

.node {
  position: absolute;
  user-select: none;
  width: 100px;
  height: 100px;
  padding: 8px;
  background-color: rgb(255, 255, 240);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}


.element {
  position: absolute;
  user-select: none;
  width: 100px;
  height: 100px;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
